html, body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    padding: 40px;
    background-color: wheat;
}

main {
    padding: 40px;
    background: #fafafa;
    overflow: auto;
}

img {
    float: right;
}

footer {
    text-align: center;
    color: gray;
}